<h1 class="titre">Tests Angular</h1>
<div class="timers">
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
  <app-timer-with-pipe></app-timer-with-pipe>
</div>
<app-map-container class="map-container"></app-map-container>
